body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: lightgray;
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 700;
}

#pojemnik{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#plansza{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#szubienica{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alfabet{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.litera{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}

.litera:hover{
    background-color: #222222;
    color: white;
    border: 1px solid white;
}

.reset{
    
    font-size: 48px;
}

.reset:hover{
    color: white;
}